extends ../layout

block content
	.col-lg-12#blog-title
		h1 
			span #{user.name} 的博客
	.col-md-10#blog-left
		.row
			form.form-inline
				.col-lg-4
					.input-group#blog-search
						input.form-control.input-lg(type="text", placeholder="日志标题/主旨")
						span.input-group-btn
							btn.btn.btn-default.btn-lg(type="button") go
				.col-lg-6
				.col-lg-2
					.input-group#blog-add
						button.btn.btn-default.btn-lg#btnAddBlog(type="button") 写 博 客
		each blog in blogs
			//- .row.blog-box
			//- 	.blog-title 
			//- 		span.col-lg-8 #{blog.title}
			//- 		span.col-lg-2 aa
			//- 		span.col-lg-2 bb
			//- 	.blog-content 
			//- 		div.col-lg-12 #{blog.article}
			//- 	.blog-foot
			//- 		span.col-lg-12 abc
			.panel.panel-info
				.panel-heading
					.row
						span.col-sm-6 #{blog.title}
						span.col-sm-2 #{blog.createDate}
						span.col-sm-2 #{blog.creator}
				.panel-body
					span #{blog.article}
				.panel-footer
					span lllll
	.col-md-2#blog-right
		ul.nav.nav-tabs
			li.active(role="presentation")
block script	
	script(src="/js/blog.js")